services:
  backend:
    build: ./backend
    ports:
      - "3001:3001"
    volumes:
      - ./backend:/app
    environment:
      - FLASK_APP=app.py
      - FLASK_RUN_PORT=3001

  frontend:
    build: ./frontend
    ports:
      - "5001:5001"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend
