.HomePage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pageContainer {
  max-width: 1800px;
  margin: 0 auto;
  padding: var(--spacing-lg);
}