.HomePage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(280px, 100%), 1fr));
  gap: var(--spacing-sm);
  max-width: 1300px; 
  margin: 0 auto;
  justify-items: center;
  justify-content: center;
}

.pageContainer {
  max-width: 1800px;
  margin: 0 auto;
  padding: var(--spacing-sm);
}