.HomePage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.title {
  padding-top: 10vh;
  margin: auto;
  display:flex;
  flex-direction: column;
  align-items: center;
  font-family: Helvetica, sans-serif;
}

.subtitle {
  padding-top: 1vh;
  font-size: 1.25rem;
  color: #555;
  display:flex;
  justify-content: center;
  font-family: Helvetica, sans-serif;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}