.App {
  background-color: #eee;
  height: 100vh;
  width: 100vw;
}

.search-bar-container {
  padding-top: 10vh;
  width: 40%;
  margin: auto;
  display:flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
}

.title {
  padding-top: 10vh;
  margin: auto;
  display:flex;
  flex-direction: column;
  align-items: center;
  font-family: Helvetica, sans-serif;
}