.App {
  background-color: #eee;
  height: 100vh;
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
}

.search-bar-container {
  padding-top: 5vh;
  width: 40%;
  margin: auto;
  display:flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
}

.title {
  padding-top: 10vh;
  margin: auto;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.subtitle {
  padding-top: 1vh;
  font-size: 1.25rem;
  color: #555;
  display:flex;
  justify-content: center;
}