.card {
  border: 1px solid var(--color-light-gray);
  border-radius: var(--border-radius-xl);
  box-shadow: var(--shadow-lg);
  padding: var(--spacing-card-padding);
  margin: var(--spacing-lg);
  text-align: left;
  width: 30%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}


.cardHeader {
    display: flex;
    align-items: center;
}

.cardImage{
    width: clamp(40px, 10%, 64px);
    height: clamp(40px, 10%, 64px);
    border-radius: 10%;
    margin-bottom: var(--spacing-sm);
}

.cardTitle{
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-medium);
  margin-bottom: var(--spacing-sm);
  margin-left: var(--spacing-sm);
  color: var(--color-text-primary);
}

.cardDescription{
    font-size: var(--font-size-md);
    color: var(--color-text-primary);
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: var(--spacing-md);
}
