.card{
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 12px;
    box-shadow: 5px 5px 5px hsl(0, 0%, 0%, 0.1);
    padding: 20px;
    margin: 20px;
    text-align: left;
    width: 30%;
    max-width: 350px;
    display: table-column;
    gap: 16px;
    align-items: center;
}

.cardHeader {
    display: flex;
}

.cardImage{
    width: clamp(40px, 10%, 64px);
    height: clamp(40px, 10%, 64px);
    
    border-radius: 10%;
    margin-bottom: 10px;
}

.cardTitle{
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 10px;
    margin-left: 10px;
}

.cardDescription{
    font-size: 1rem;
    color: #000000;
}