.header {
    position: sticky;
    top: 0;
    background-color: var(--color-background);
    border-bottom: 1px solid var(--color-secondary);
    color: var(--color-text-primary);
    padding: var(--spacing-xs);
}

.headerContainer {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: var(--spacing-lg);
}

.headerTitleContainer {
  flex: 0 0 auto;
}

.headerTitle {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-heavy);
}

.headerSearch {
    position: relative;
    flex: auto;
    max-width: 600px;
}