.header {
    background-color: var(--color-background);
    padding: var(--spacing-header-padding);
    border-bottom: 1px solid var(--color-light-gray);
    margin-bottom: var(--spacing-sm);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    color: var(--color-text-primary);
}

.headerRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-lg);  
}

.headerRow h2 {
    margin: 0;
    font-weight: var(--font-weight-heavy);
    white-space: nowrap;
    font-size: var(--font-size-xl);
}

.searchBarContainer {
    width: 80%;
    max-width:  600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 200px;
}