.header {
    position: sticky;
    top: 0;  
    background-color: var(--color-background);
    padding: 0 var(--spacing-xs) var(--spacing-lg) 0 var(--spacing-lg);
    border-bottom: 1px solid var(--color-secondary);
    margin-bottom: var(--spacing-lg);
    color: var(--color-text-primary);
}

.headerContainer {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-lg);
}

.headerTitleContainer {
  flex: auto;
}

.headerTitle {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-heavy);
}

.headerSearch {
    position: relative;
    flex: auto;
    max-width: 600px;
}