.searchResultsList{
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    background-color: var(--color-background);
    border: 1px solid var(--color-secondary);
    display: flex;
    flex-direction: column;
    box-shadow: var(--shadow-xxl) #ddd;
    border-radius: var(--border-radius-lg);
    margin-top: var(--spacing-xs);
    max-height: 300px;
    overflow-y: hidden;
    z-index: var(--z-dropdown);
}