.inputWrapper {
    background-color: var(--color-surface);
    width: 100%;
    border-radius: var(--border-radius-lg);
    height: 2.5rem;
    padding: 0 var(--spacing-md);
    display: flex;
    align-items: center;
}

.input {
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: var(--font-size-md);
    width: 100%;
    margin-left: var(--spacing-xs);
    color: var(--color-text-primary)
}

.input:focus {
    outline: none;
}

.searchIcon {
    color: var(--color-text-muted);
    flex-shrink: 0;
}