.searchResultsList{
    width: 100%;
    background-color: var(--color-surface);
    display: flex;
    flex-direction: column;
    box-shadow: var(--shadow-xxl) #ddd;
    border-radius: var(--border-radius-lg);
    margin-top: var(--spacing-xs);
    max-height: 300px;
    overflow-y: auto;
}