.inputWrapper {
    background-color: #eeeeeebb;
    width: 100%;
    border-radius: 7px;
    height: 2.5rem;
    padding: 0 15px;
    display: flex;
    align-items: center;
}

.input {
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1rem;
    width: 100%;
    margin-left: 5px;
}

.input:focus {
    outline: none;
}

.searchIcon {
    color: rgba(0, 0, 0, 0.500);
    flex-shrink: 0;
}